## Shared secrets for institutions in your federation
## Choose unique names for the keys by replacing the <___> parts
## Reference accordingly in group variables file under institutions
<MYUNI>_idp_secret: MyUniSecret
<OTHERUNI>_idp_secret: MyOtherUniSecret

##Regional Level Roaming/Proxies
## Europe
#etlr1_secret: EuropeanSecret
#etlr2_secret: EuroSecret
##Africa
atlr_wacren: AfricaSecret
atlr_ubuntunet: SecretAfrica

# eduroam Monitoring/Statistics: Get a shared secret from eduroam OT
monitoring_secret: MonSecret
#fticks_salt: CurrentlyNotInUse

# NewRelic Monitoring
newrelic_license_key: 123123
