myuni_idp_secret: MySecret
otheruni_idp_secret: MyOtherSecret
proxy_secret: pP14DHkR
# Negotiate a shared secret with the monitoring team at SRCE
monitoring_secret:
fticks_salt:
newrelic_license_key:
