# radsecproxy

local3.*                -/var/log/radsecproxy.log
local4.*                -/var/log/fticks.log

if      ($programname == 'radsecproxy') and ($msg contains 'F-TICKS') \
then    @{{ fticks_server }}
&       ~
